@use '../../style/core.scss' as core;
@use '../../style/typography.scss' as typography;
@use '../../style/color.scss' as color;

.tag {
    @include typography.regular5;

    background-color: color.$color-button-blue;
    color: color.$color-text-white;
    padding: core.$space1;
    text-transform: uppercase;
    font-weight: typography.$font-bold;
    width: fit-content;

    &.onSale {
        background-color: color.$color-button-black;
        text-transform: unset;
    }
}