@use '../../style/core.scss' as core;
@use '../../style/typography.scss' as typography;
@use '../../style/color.scss' as color;

.button {
    @include typography.regular4;

    background-color: color.$dice-blue;
    border: none;
    color: color.$dice-white;
    cursor: pointer;
    font-weight: typography.$font-bold;
    outline: none;
    padding: core.$space2 core.$space3;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;

    &.secondary {
        background-color: color.$dice-gray;
        color: color.$dice-black;
    }

    &.tertiary {
        background-color: color.$dice-black;
    }
}