@use '../style/core.scss' as core;
@use '../style/typography.scss' as typography;
@use '../style/breakpoint.scss' as breakpoint;
@use '../style/color.scss' as color;

.homePage {
  .events {
    padding: core.$space4 0;
  }

  .heading {
    @include typography.heading6;

    font-weight: typography.$font-normal;
    padding-bottom: core.$space2;
  }

  .searchInputContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: core.$space2;
  }

  .eventsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: core.$space2;
    grid-template-columns: 1fr;

    @include breakpoint.md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint.lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .loadMoreButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: core.$space7;
  }

  .noEvents {
    grid-column: 1 / -1;
    padding: core.$space4 0;
    text-align: center;

    h3 {
      @include typography.heading6;

      color: color.$dice-black;
      margin-bottom: core.$space2;
    }

    p {
      @include typography.regular4;

      color: color.$dice-black;
    }
  }
}