// core
$space: 0.0625rem; // 1px
$space1: 0.5rem; // 8px
$space2: 1rem; // 16px
$space3: 1.5rem; // 24px
$space4: 2rem; // 32px
$space5: 2.5rem; // 40px
$space6: 3rem; // 48px
$space7: 3.5rem; // 56px
$space8: 4rem; // 64px
$space9: 4.5rem; // 72px

$full: 100%;
$full-vh: 100dvh;
$full-vw: 100vw;