@use '../../style/color.scss' as color;
@use '../../style/typography.scss' as typography;
@use '../../style/core.scss' as core;
@use '../../style/breakpoint.scss' as breakpoint;

.outerComponent {
    display: flex;
    padding: 0 core.$space2;
    width: core.$full;
    overflow-x: auto;

    @include breakpoint.md {
        padding: 0 core.$space8;
    }

    .component {
        width: core.$full;
        min-width: core.$space1 * 50;
        flex-shrink: 0;
    }
}